Repository Forge-Station/Frontier, pull requests merged in 2024-09, with the labels that each got.

#32 Заливаем шаттлики и изменение Чарли с Эпсилон
  Resources/Maps/Corvax/Bluespace/epsilon.yml
  Resources/Maps/Corvax/POI/charlie.yml
  Resources/Maps/Corvax/Shuttles/Asstedia.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/hog.yml
  Resources/Maps/Corvax/Shuttles/Expedition/boyaryshnik.yml
  Resources/Maps/Corvax/Shuttles/Fang.yml
  Resources/Prototypes/Corvax/Events/events_bluespace.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Charlie.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Epsilon.yml
  Resources/Prototypes/Corvax/Shipyard/Asstedia.yml
  Resources/Prototypes/Corvax/Shipyard/BlackMarket/hog.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/boyaryshnik.yml
Labels: No C#, YML

#33 Ещё исправление Чарли
  Resources/Maps/Corvax/POI/charlie.yml
Labels: No C#, YML

#31 elzuosa cum back
  Content.Server/Corvax/Elzuosa/ElzuosaColorComponent.cs
  Content.Server/Corvax/Elzuosa/ElzuosaColorSystem.cs
  Content.Server/Emp/EmpSystem.cs
  Resources/Locale/ru-RU/corvax/interaction/interaction-popup-component.ftl
Labels: FTL, C#

#37 Исправление начисление баланса с ивента и возвращение Зари двух видов
  Resources/Maps/Corvax/Shuttles/Expedition/ZaryaAssault.yml
  Resources/Maps/Corvax/Shuttles/Expedition/ZaryaResearch.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Corvax/Events/events_bluespace.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/zaryaA.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/zaryaR.yml
Labels: No C#, YML

#39 Небольшой фикс рецептов
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, YML

#38 Дробовик КС23
  Resources/Locale/ru-RU/_NF/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/guns/ammunition/cartridges/ks23.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/guns/ammunition/projectiles/shotguns/ks23.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Prototypes/Corvax/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/ks23.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/security.yml
  Resources/Prototypes/Corvax/tags.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/base-spent.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/base.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/beanbag-spent.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/beanbag.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/flashbang-spent.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/flashbang.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/meta.json
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/smoke-spent.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/smoke.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Shotguns/ks23.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Shotguns/ks23.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Shotguns/ks23.rsi/icon.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Shotguns/ks23.rsi/meta.json
Labels: No C#, FTL, YML, Sprites

#43 Больше шаттлов, вырезка медицины, и многое другое
  Resources/Maps/Corvax/Bluespace/kontra.yml
  Resources/Maps/Corvax/Bluespace/sindi.yml
  Resources/Maps/Corvax/Outpost/corvaxFrontier.yml
  Resources/Maps/Corvax/POI/Hospital.yml
  Resources/Maps/Corvax/POI/cove.yml
  Resources/Maps/Corvax/Shuttles/Asklepi.yml
  Resources/Maps/Corvax/Shuttles/Expedition/ZaryaAssault.yml
  Resources/Maps/Corvax/Shuttles/Expedition/boyaryshnik.yml
  Resources/Maps/Corvax/Shuttles/Expedition/faron.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/Baron.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/bigskat.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/centurion.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/hammer.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/the_defector.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/warrior.yml
  Resources/Maps/Corvax/Shuttles/kontrashef.yml
  Resources/Maps/Corvax/Shuttles/pill.yml
  Resources/Prototypes/Corvax/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Corvax/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Corvax/Events/events_bluespace.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Hospital.yml
  Resources/Prototypes/Corvax/Shipyard/Asklepi.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/faron.yml
  Resources/Prototypes/Corvax/Shipyard/Nfsd/Baron.yml
  Resources/Prototypes/Corvax/Shipyard/Nfsd/the_defector.yml
  Resources/Prototypes/Corvax/Shipyard/kontrashef.yml
  Resources/Prototypes/Corvax/Shipyard/pill.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Textures/Corvax/Structures/Shuttles/thrusternfsd.rsi/base.png
  Resources/Textures/Corvax/Structures/Shuttles/thrusternfsd.rsi/meta.json
  Resources/Textures/Corvax/Structures/Shuttles/thrusternfsd.rsi/thrust.png
  Resources/Textures/Corvax/Structures/Shuttles/thrusternfsd.rsi/thrust_burn_unshaded.png
Labels: No C#, YML, Sprites

#36 Шаттлик
  Resources/Maps/Corvax/Shuttles/Kudzu.yml
  Resources/Prototypes/Corvax/Shipyard/Kudzu.yml
Labels: No C#, YML

#44 Фикс поликлиники
  Resources/Maps/Corvax/POI/Hospital.yml
Labels: No C#, YML
