Repository Forge-Station/Frontier, pull requests merged in 2024-08, with the labels that each got.

#6 Create corvax.toml
  Resources/ConfigPresets/Corvax/corvax.toml
Labels: No C#

#14 Более говорливые попугаи
  Content.Server/_NF/Speech/Components/ParrotSpeechComponent.cs
Labels: C#

#19 Mersen maps
  Content.Shared/CCVar/CCVars.cs
  Resources/Maps/Corvax/Bluespace/RuinedBarge.yml
  Resources/Maps/Corvax/Bluespace/RuinedComet.yml
  Resources/Maps/Corvax/Bluespace/RuinedCourser.yml
  Resources/Maps/Corvax/Bluespace/RuinedCrescent.yml
  Resources/Maps/Corvax/Bluespace/RuinedHauler.yml
  Resources/Maps/Corvax/Bluespace/RuinedInv.yml
  Resources/Maps/Corvax/Bluespace/RuinedSprinter.yml
  Resources/Maps/Corvax/Outpost/corvaxFrontier.yml
  Resources/Maps/Corvax/POI/charlie.yml
  Resources/Maps/Corvax/POI/epsilon.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/QueenAnnesRevenge.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/barnacle.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/bocakillo.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/falcon.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/menace.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/schooner.yml
  Resources/Maps/Corvax/Shuttles/Fang.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/bigskat.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/centurion.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/hammer.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/warrior.yml
  Resources/Maps/Corvax/Shuttles/Pot.yml
  Resources/Maps/Corvax/Shuttles/hercules.yml
  Resources/Maps/Corvax/Shuttles/mailpod.yml
  Resources/Maps/Corvax/Shuttles/theScavenger.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Corvax/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/Corvax/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Corvax/Events/events_bluespace.yml
  Resources/Prototypes/Corvax/Maps/Outpost/corvax_frontier.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Charlie.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Epsilon.yml
  Resources/Prototypes/Corvax/Shipyard/BlackMarket/QueenAnnesRevenge.yml
  Resources/Prototypes/Corvax/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/Corvax/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/Corvax/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/Corvax/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/Corvax/Shipyard/BlackMarket/schooner.yml
  Resources/Prototypes/Corvax/Shipyard/Fang.yml
  Resources/Prototypes/Corvax/Shipyard/Nfsd/bigskat.yml
  Resources/Prototypes/Corvax/Shipyard/Nfsd/centurion.yml
  Resources/Prototypes/Corvax/Shipyard/Nfsd/hammer.yml
  Resources/Prototypes/Corvax/Shipyard/Nfsd/warrior.yml
  Resources/Prototypes/Corvax/Shipyard/Pot.yml
  Resources/Prototypes/Corvax/Shipyard/hercules.yml
  Resources/Prototypes/Corvax/Shipyard/theScavenger.yml
  Resources/Prototypes/Corvax/tags.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
  Resources/Prototypes/_NF/Shipyard/mailpod.yml
Labels: C#, YML, Map-Shuttle

#20 Небольшой фикс для Ската
  Resources/Maps/Corvax/POI/charlie.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/bigskat.yml
Labels: No C#, YML

#24 Возвращаем Чарли, Эпсилон и Аванпост
  Content.Shared/CCVar/CCVars.cs
  Resources/Maps/Corvax/Outpost/corvaxFrontier.yml
  Resources/Maps/Corvax/POI/charlie.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Charlie.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Epsilon.yml
  Resources/Prototypes/Corvax/Spawners/turret_spawner.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
Labels: C#, YML

#28 ап
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/eagle.yml
  Resources/Maps/_NF/Shuttles/stasis.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/StatusIcon/StatusEffects/ssd.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/glasses_punks.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/eagle.yml
  Resources/Prototypes/_NF/Shipyard/stasis.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Stasis.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/stasis.png
Labels: FTL, C#, Map-Shuttle, Sprites, Docs

#29 Inflation trade crates
  Content.Server/Corvax/Inflation/InflationCargoCrateComponent.cs
  Content.Server/Corvax/Inflation/InflationCargoCrateSystem.cs
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_trade.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/trade.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
Labels: C#, YML
