Repository Forge-Station/Frontier, pull requests merged in 2024-11, with the labels that each got.

#70 Добавление японской еды | Адаптация
  Resources/Locale/ru-RU/corvax/_nf/prototypes/entities/objects/consumable/food/japanfood/ingredients/japaningredients.ftl
  Resources/Locale/ru-RU/corvax/_nf/prototypes/entities/objects/consumable/food/japanfood/japanfoods.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/Ingredients/dangodough.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/Ingredients/rawramennoodles.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/chocopocky.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/hanamidango.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/mitarasidango.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/onigiri.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/pockypack/pockypacks.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/porkramennoodles.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/spicyporkramen.yml
  Resources/Prototypes/Corvax/Mail/mail.yml
  Resources/Prototypes/Corvax/Recipes/Cooking/JapanFood/ingredients/food.yml
  Resources/Prototypes/Corvax/Recipes/Cooking/JapanFood/meal_recipes.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/doughdangoball.png
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/rawramennoodles.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/chocopocky.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/hanamidango.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/mitarashidango.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/onigiri.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/porkramen.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/spicyporkramen.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/closed.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/open.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/unlit-equipped-MASK.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok1.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok2.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok3.png
Labels: No C#, FTL, YML, Sprites

#68 Исправление ошибок Авроры
  Resources/Maps/Corvax/Shuttles/Civilian/Aurora.yml
  Resources/Prototypes/Corvax/Shipyard/Civilian/Aurora.yml
Labels: No C#, YML

#72 Японские изменения | Ребаланс
  Resources/Locale/ru-RU/corvax/_nf/prototypes/entities/objects/consumable/food/japanfood/ingredients/japaningredients.ftl
  Resources/Locale/ru-RU/corvax/_nf/prototypes/entities/objects/consumable/food/japanfood/japanfoods.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/Ingredients/dangodough.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/Ingredients/ingredients.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/Ingredients/rawramennoodles.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/chocopocky.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/food.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/hanamidango.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/mitarasidango.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/onigiri.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/pockypack/pockypacks.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/porkramennoodles.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/japanfood/spicyporkramen.yml
  Resources/Prototypes/Corvax/Recipes/Cooking/JapanFood/ingredients/food.yml
  Resources/Prototypes/Corvax/Recipes/Cooking/JapanFood/meal_recipes.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/boileddoughdangoball.png
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/doughdangoball.png
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/rawdoughdangoball.png
Labels: No C#, FTL, YML, Sprites

#75 Return
  Resources/Locale/ru-RU/_NF/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Corvax/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Corvax/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Textures/_NF/Objects/Fun/foxplushie.rsi/holy.png
  Resources/Textures/_NF/Objects/Fun/foxplushie.rsi/meta.json
Labels: No C#, FTL, YML, Sprites

#74 Фикс Авроры
  Resources/Maps/Corvax/Shuttles/Civilian/Aurora.yml
Labels: No C#, YML

#77 Исправление кошачьих проблем из-за хитрых лис
  Resources/Prototypes/Traits/speech.yml
Labels: No C#, YML

#80 ds ahelp frontier
  Content.Server/Administration/ServerApi.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: C#

#81 ds ahelp 2
  Content.Server/Administration/ServerApi.cs
Labels: C#

#82 Удаление ската из пула
  Resources/Prototypes/Corvax/Shipyard/Nfsd/bigskat.yml
Labels: No C#, YML

#78 Добавлен экспедиционный шаттл большого класса Атлас
  Resources/Maps/Corvax/Shuttles/Civilian/Atlas.yml
  Resources/Prototypes/Corvax/Shipyard/Civilian/Atlas.yml
Labels: No C#, YML

#85 Фикс сетки инвентаря сумки и мессенджера у наёмников
  Resources/Prototypes/Corvax/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/satchel.yml
Labels: No C#, YML

#86 Новый экспедиционный шаттл большого класса Сьерра
  Resources/Maps/Corvax/Shuttles/Expedition/Sierra.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/Sierra.yml
Labels: No C#, YML

#87 Фикс ошибок и недостатков Атласа
  Resources/Maps/Corvax/Shuttles/Civilian/Atlas.yml
Labels: No C#, YML

#88 Вырезка шаттлов-станции
  Resources/Maps/Corvax/Shuttles/Civilian/Atlas.yml
  Resources/Maps/Corvax/Shuttles/Civilian/Aurora.yml
  Resources/Maps/Corvax/Shuttles/Expedition/Sierra.yml
  Resources/Prototypes/Corvax/Shipyard/Civilian/Atlas.yml
  Resources/Prototypes/Corvax/Shipyard/Civilian/Aurora.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/Sierra.yml
Labels: No C#, YML

#90 Новогодний фронтир
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/decoration/garlands.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/decoration/presents.ftl
  Resources/Maps/Corvax/Outpost/corvaxFrontier.yml
  Resources/Prototypes/Corvax/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Corvax/Entities/Objects/Decoration/garlands.yml
  Resources/Prototypes/Corvax/Entities/Objects/Decoration/presents.yml
  Resources/Textures/Corvax/Objects/Decoration/Flora/newyear_tree.yml/after.png
  Resources/Textures/Corvax/Objects/Decoration/Flora/newyear_tree.yml/before.png
  Resources/Textures/Corvax/Objects/Decoration/Flora/newyear_tree.yml/lights.png
  Resources/Textures/Corvax/Objects/Decoration/Flora/newyear_tree.yml/meta.json
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/base.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/decor_0.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/decor_1.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/decor_2.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/mask_null.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/meta.json
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/ribbon.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/base.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/decor_0.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/decor_1.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/decor_2.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/mask_null.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/meta.json
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/ribbon.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/small_present.yml/base.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/small_present.yml/meta.json
  Resources/Textures/Corvax/Objects/Decoration/Presents/small_present.yml/ribbon.png
  Resources/Textures/Corvax/Objects/Decoration/garlands.yml/base.png
  Resources/Textures/Corvax/Objects/Decoration/garlands.yml/lights.png
  Resources/Textures/Corvax/Objects/Decoration/garlands.yml/meta.json
Labels: No C#, FTL, YML

#91 Новый шаттл Хунами
  Resources/Maps/Corvax/Shuttles/Scrap/hunami.yml
  Resources/Prototypes/Corvax/Shipyard/Scrap/hunami.yml
Labels: No C#, YML

#92 Шаттл-Баржа Венера
  Resources/Maps/Corvax/Shuttles/Expedition/venera.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/venera.yml
Labels: No C#, YML
