Repository Forge-Station/Frontier, pull requests merged in 2024-10, with the labels that each got.

#48 fix publish v1
  .github/workflows/publish.yml
Labels: No C#

#51 Fix publish
  .github/workflows/publish.yml
Labels: No C#

#52 Бафф криоксадона
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#, YML

#53 Обновление кс23
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/guns/ammunition/cartridges/ks23.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/guns/ammunition/projectiles/shotguns/ks23.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/shotgun.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Corvax/Objects/Storage/boxes.rsi/KS23BaseDispenser.png
  Resources/Textures/Corvax/Objects/Storage/boxes.rsi/KS23BeanbagDispenser.png
  Resources/Textures/Corvax/Objects/Storage/boxes.rsi/KS23FlashbangDispenser.png
  Resources/Textures/Corvax/Objects/Storage/boxes.rsi/KS23SmokeDispenser.png
  Resources/Textures/Corvax/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/base-spent.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/beanbag-spent.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/flashbang-spent.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/meta.json
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Casings/ks23_shell.rsi/smoke-spent.png
Labels: No C#, FTL, YML, Sprites

#54 Блюфикс и немножко локализации.
  Resources/Locale/ru-RU/_NF/contraband/contraband-severity.ftl
  Resources/Locale/ru-RU/contraband/contraband-severity.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/back/messenger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/smokables/pipes/tobacco_pouch.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/plant_analyzer.yml
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/objects/specific/hydroponics/plant_bag_holding.yml
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/salvage/scanner.yml
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/mining.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/materials/materials.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, FTL, YML

#55 Add some hours to roles for event
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: C#, UI, YML

#56 Revert "Add some hours to roles for event"
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: C#, UI, YML

#57 БагФиксы
  Content.Client/Medical/CrewMonitoring/CrewMonitoringNavMapControl.cs
  Resources/Locale/ru-RU/deltav/materials/units.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: FTL, C#, YML

#58 Вернул основной аванпост Фронтир
  Content.Shared/CCVar/CCVars.cs
  Resources/Maps/Corvax/Outpost/corvaxFrontier.yml
Labels: C#, YML

#59 Добавил корабль среднего класса Аврора
  Resources/Maps/Corvax/Shuttles/Civilian/Aurora.yml
  Resources/Prototypes/Corvax/Shipyard/Civilian/Aurora.yml
Labels: No C#, YML
