Repository Forge-Station/Frontier, pull requests merged in 2025-06, with the labels that each got.

#220 fix velocity
  Content.Server/Shuttles/Components/ShuttleImpactComponent.cs
Labels: C#, size/XS

#223 Эхо Апстрима
  Content.Server/_Corvax/syndicate/DataMinerSyndicateSystem.cs
  Resources/Prototypes/Corvax/Entities/Structures/Machines/Computers/SyndicateTradeConsole.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/syn_tex_recipe.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/syndicate.yml
Labels: C#, YML, S: Untriaged, size/M

#227 Ремонт-кит
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Prototypes/Corvax/Catalog/Fills/Boxes/repairkit.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Contractor/hands_items.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/Corvax/Objects/Storage/boxes.rsi/internals.png
  Resources/Textures/Corvax/Objects/Storage/boxes.rsi/meta.json
Labels: No C#, FTL, YML, Sprites, size/S, S: Untriaged

#229 Скелеты фикс и пару мельких исправлений
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/_Corvax/Skeleton/SkeletonReformOnDeathComponent.cs
  Content.Server/_Corvax/Skeleton/SkeletonReformSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_Corvax/Skeleton/SkeletonReformComponent.cs
  Content.Shared/_Corvax/Skeleton/SkeletonReformEvent.cs
  Content.Shared/_NF/Bank/SharedBankSystem.cs
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Species/skeleton.yml
Labels: C#, YML, S: Untriaged, size/M

#232 Фикс зарплаты
  Content.Server/_Corvax/AutoSalarySystem/AutoSalarySystem.cs
  Content.Shared/_Corvax/AutoSalarySystem/AutoSalaryConfigPrototype.cs
  Content.Shared/_Corvax/AutoSalarySystem/AutoSalaryJobPrototype.cs
  Resources/Prototypes/Corvax/Roles/autosalary.yml
Labels: C#, YML, size/M

#239 Фикс скелетов
  Content.Server/_Corvax/Skeleton/SkeletonReformOnDeathComponent.cs
  Content.Server/_Corvax/Skeleton/SkeletonReformSystem.cs
  Content.Shared/_Corvax/Skeleton/SkeletonReformComponent.cs
  Content.Shared/_Corvax/Skeleton/SkeletonReformEvent.cs
  Resources/Prototypes/_NF/Entities/Mobs/Corpses/medical_corpse.yml
Labels: C#, YML, size/S, S: Untriaged

#236 Belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#, YML, size/S, S: Untriaged
