Repository Forge-Station/Frontier, pull requests merged in 2025-09, with the labels that each got.

#325 Idk2
  Resources/Maps/Forge/POI/trademall.yml
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
Labels: No C#, YML, Map-POI, size/XS, S: Untriaged

#333 Balance for emp missile turret (ShipMissileASM557)
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/projectiles.yml
Labels: No C#, YML, size/S, S: Untriaged

#294 Два в одном
  .github/mapchecker/whitelist.yml
  Resources/Locale/ru-RU/_Forge/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/pirate/pirate.ftl
  Resources/Maps/Forge/Shuttles/BlackMarket/QueenAnnesRevenge.yml
  Resources/Maps/Forge/Shuttles/Nfsd/Cvasar.yml
  Resources/Maps/Forge/Shuttles/Nfsd/bigskat.yml
  Resources/Maps/Forge/Shuttles/Nfsd/hammer.yml
  Resources/Maps/Forge/Shuttles/Nfsd/heimdall.yml
  Resources/Maps/Forge/Shuttles/Nfsd/hypnos.yml
  Resources/Maps/Forge/Shuttles/Nfsd/rogue.yml
  Resources/Maps/Forge/Shuttles/Nfsd/vostok.yml
  Resources/Maps/Forge/Shuttles/Nfsd/wasp.yml
  Resources/Prototypes/_Forge/Catalog/Fills/Boxes/pirate.yml
  Resources/Prototypes/_Forge/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_Forge/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/_Forge/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/Cvasar.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/centurion.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/empress.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/hammer.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/heimdall.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/hospitaller.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/hypnos.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/inquisitor.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/interceptor.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/orion.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/paladin.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/prowler.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/ravager.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/rogue.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/templar.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/vostok.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/wasp.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/whiskey.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ammunition/Boxes/ap.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ammunition/Boxes/he.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ammunition/Boxes/ps.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ammunition/Projectiles/base.yml
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/magboots.yml
  Resources/Textures/Forge/Boxes/pirate.rsi/island.png
  Resources/Textures/Forge/Boxes/pirate.rsi/meta.json
  Resources/Textures/Forge/Objects/Weapons/Guns/Ammunition/Explosives/explosives.rsi/icon-overlay.png
  Resources/Textures/Forge/Objects/Weapons/Guns/Ammunition/Explosives/explosives.rsi/icon.png
  Resources/Textures/Forge/Objects/Weapons/Guns/Ammunition/Explosives/explosives.rsi/meta.json
Labels: No C#, FTL, YML, Sprites, size/XL, S: Untriaged, Ready to merge

#335 Хотфикс плаща аркадии
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats.yml
Labels: No C#, YML, size/S, S: Untriaged

#311 Cool iff
  Content.Client/Shuttles/UI/DockingScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.IFF.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.IFF.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Content.Shared/_Forge/Shuttles/Components/ShuttleFactionComponent.cs
  Content.Shared/_Forge/Shuttles/Components/ShuttleStealthComponent.cs
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/Poli.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/QueenAnnesRevenge.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/SalvationUnion.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/hog.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/schooner.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/scurvy.yml
  Resources/Prototypes/_Forge/Shipyard/BlackMarket/turncoat.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/Baron.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/Cvasar.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/Dakota.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/Gast.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/bigskat.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/broadhead.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/centurion.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/cleric.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/dagger.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/empress.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/enforcer.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/fighter.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/hammer.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/heimdall.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/hospitaller.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/hypnos.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/inquisitor.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/interceptor.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/marauder.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/opportunity.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/orion.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/paladin.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/prowler.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/ravager.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/rogue.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/sword.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/templar.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/the_defector.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/trest.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/trident.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/vostok.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/warrior.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/wasp.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/whiskey.yml
  Resources/Prototypes/_Forge/Shipyard/Syndicate/flash.yml
  Resources/Prototypes/_Forge/Shipyard/Syndicate/hunter.yml
  Resources/Prototypes/_Forge/Shipyard/Syndicate/infiltrator.yml
  Resources/Prototypes/_Forge/Shipyard/Syndicate/methedor.yml
  Resources/Prototypes/_Forge/Shipyard/Syndicate/milestone.yml
  Resources/Prototypes/_Forge/Shipyard/Syndicate/separatist.yml
Labels: FTL, C#, UI, YML, size/M

#339 Обновление электростанции Эдисона
  Resources/Maps/Forge/POI/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
Labels: No C#, YML, size/XL, Ready to merge

#346 injector
  Content.Client/_Wega/Medical/Ui/InjectorFabticatorWindow.xaml
  Content.Client/_Wega/Medical/Ui/InjectorFabticatorWindow.xaml.cs
  Content.Server/_Wega/Medical/InjectorFabticatorSystem.cs
  Content.Shared/_Wega/Medical/InjectorFabricatorComponent.cs
  Resources/Locale/ru-RU/_Forge/machines/injector-fabticator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_Wega/injectorfabricator/injectorfabricator.ftl
  Resources/Prototypes/_Mono/shield_generator.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Wega/Entities/Structures/Machines/injector_fabricator.yml
Labels: FTL, C#, UI, YML, S: Untriaged, size/M

#347 Syndicate items
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Prototypes/_Forge/Clothing/Head/hardsuitshelm.yml
  Resources/Prototypes/_Forge/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Forge/Clothing/Shoes/synd_magboots.yml
  Resources/Prototypes/_Forge/Recipes/Lathes/Packs/CorvaxPacks.yml
  Resources/Prototypes/_Forge/Recipes/Lathes/Packs/syndicate_techfab.yml
  Resources/Prototypes/_Forge/Recipes/Lathes/syn_tex_recipe.yml
  Resources/Prototypes/_Forge/Recipes/Lathes/syndicate.yml
  Resources/Prototypes/_Forge/Roles/Antags/syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Textures/Clothing/OuterClothing/Hardsuits/deathsquad.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Forge/Clothing/Head/Hardsuits/syndicate_strike_team.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/Forge/Clothing/Head/Hardsuits/syndicate_strike_team.rsi/icon-flash.png
  Resources/Textures/Forge/Clothing/Head/Hardsuits/syndicate_strike_team.rsi/icon.png
  Resources/Textures/Forge/Clothing/Head/Hardsuits/syndicate_strike_team.rsi/meta.json
  Resources/Textures/Forge/Clothing/Head/Hardsuits/syndicate_strike_team.rsi/off-equipped-HELMET.png
  Resources/Textures/Forge/Clothing/Head/Hardsuits/syndicate_strike_team.rsi/on-equipped-HELMET.png
  Resources/Textures/Forge/Clothing/OuterClothing/Hardsuits/syndicate_strike_team.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/Forge/Clothing/OuterClothing/Hardsuits/syndicate_strike_team.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Forge/Clothing/OuterClothing/Hardsuits/syndicate_strike_team.rsi/icon.png
  Resources/Textures/Forge/Clothing/OuterClothing/Hardsuits/syndicate_strike_team.rsi/inhand-left.png
  Resources/Textures/Forge/Clothing/OuterClothing/Hardsuits/syndicate_strike_team.rsi/inhand-right.png
  Resources/Textures/Forge/Clothing/OuterClothing/Hardsuits/syndicate_strike_team.rsi/meta.json
Labels: No C#, FTL, YML, Sprites, S: Untriaged, size/M
