Repository Forge-Station/Frontier, pull requests merged in 2025-04, with the labels that each got.

#174 Mersen coll
  .github/workflows/publish_mapping.yml
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Shared/Tiles/ProtectedGridComponent.cs
  Resources/Maps/Corvax/Outpost/corvaxFrontier.yml
  Resources/Prototypes/Corvax/PointsOflnterest/BunkerAlfa.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Charlie.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Colisei.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Epsilon.yml
  Resources/Prototypes/Corvax/PointsOflnterest/MiningBase.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Prototypes/_NF/PointsOfInterest/medical.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
Labels: C#, YML, size/M

#177 Revert "Mersen coll"
  .github/workflows/publish_mapping.yml
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Shared/Tiles/ProtectedGridComponent.cs
  Resources/Maps/Corvax/Outpost/corvaxFrontier.yml
  Resources/Prototypes/Corvax/PointsOflnterest/BunkerAlfa.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Charlie.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Colisei.yml
  Resources/Prototypes/Corvax/PointsOflnterest/Epsilon.yml
  Resources/Prototypes/Corvax/PointsOflnterest/MiningBase.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Prototypes/_NF/PointsOfInterest/medical.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
Labels: C#, YML, S: Untriaged, size/M

#179 типо да
  Resources/Maps/Corvax/POI/MiningBase.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/pioneer2.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: No C#, YML, size/M

#180 Step 3: Правка Лого Фронтира
  Resources/Textures/_NF/Logo/icon-ru/icon-128x128.png
  Resources/Textures/_NF/Logo/icon-ru/icon-16x16.png
  Resources/Textures/_NF/Logo/icon-ru/icon-24x24.png
  Resources/Textures/_NF/Logo/icon-ru/icon-256x256.png
  Resources/Textures/_NF/Logo/icon-ru/icon-32x32.png
  Resources/Textures/_NF/Logo/icon-ru/icon-48x48.png
  Resources/Textures/_NF/Logo/icon-ru/icon-64x64.png
Labels: No C#

#184 Система Авто выплаты Зарплат
  Content.Server/_Corvax/AutoSalarySystem/AutoSalarySystem.cs
Labels: C#, S: Untriaged, size/M
