Repository Forge-Station/Frontier, pull requests merged in 2025-03, with the labels that each got.

#152 Небольшая Обнова
  Resources/Maps/Corvax/POI/cove.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/Poli.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/QueenAnnesRevenge.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/bocakillo.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/falcon.yml
  Resources/Maps/Corvax/Shuttles/BlackMarket/menace.yml
  Resources/Maps/Corvax/Shuttles/Expedition/Stalker.yml
  Resources/Maps/Corvax/Shuttles/Expedition/brigand.yml
  Resources/Maps/Corvax/Shuttles/Expedition/courserx.yml
  Resources/Maps/Corvax/Shuttles/Expedition/gasbender.yml
  Resources/Maps/Corvax/Shuttles/Expedition/gourd.yml
  Resources/Maps/Corvax/Shuttles/Expedition/venera.yml
  Resources/Maps/Corvax/Shuttles/Medical/pulse.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/Orion.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/Ravager.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/bigskat.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/broadhead.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/centurion.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/cleric.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/empress.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/enforcer.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/fighter.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/paladin.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/rogue.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/templar.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/trident.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/warrior.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/wasp.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/wendigo.yml
  Resources/Maps/Corvax/Shuttles/Science/investigator.yml
  Resources/Maps/Corvax/Shuttles/Science/lyrae.yml
  Resources/Maps/Corvax/Shuttles/Scrap/Drozd.yml
  Resources/Maps/Corvax/Shuttles/Scrap/disciple.yml
  Resources/Maps/Corvax/Shuttles/Scrap/nugget.yml
  Resources/Maps/Corvax/Shuttles/Scrap/orange.yml
  Resources/Maps/Corvax/Shuttles/Scrap/point.yml
  Resources/Maps/Corvax/Shuttles/Scrap/tide.yml
  Resources/Maps/Corvax/Shuttles/Syndicate/infiltrator.yml
  Resources/Prototypes/Corvax/Shipyard/BlackMarket/Poli.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/Stalker.yml
  Resources/Prototypes/Corvax/Shipyard/Medical/pulse.yml
  Resources/Prototypes/Corvax/Shipyard/Nfsd/ravager.yml
  Resources/Prototypes/Corvax/Shipyard/Science/metastable.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
Labels: No C#, YML, size/XL

#161 Фикс перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/dragon_egg.ftl
Labels: No C#, FTL, S: Untriaged

#162 Переводы
  Resources/Locale/ru-RU/atmos/gas-analyzer-component.ftl
  Resources/Locale/ru-RU/inventory/components/inventory-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/recipes/lathes/storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/anomaly.ftl
Labels: No C#, FTL, size/S, S: Untriaged

#165 minor fixes
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/moonwhisper.ogg
  Resources/Locale/en-US/character-appearance/components/humanoid-appearance-component.ftl
  Resources/Locale/ru-RU/_NF/bluespace-events/events.ftl
  Resources/Locale/ru-RU/_NF/chat/emotes.ftl
  Resources/Locale/ru-RU/movement/pulling.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/guns/pistols/moonwhisper.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Pistols/moonwhisper.yml
  Resources/Prototypes/Corvax/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/sheet.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Voice/speech_emotes.yml
  Resources/Textures/Corvax/Objects/Weapons/Guns/Pistols/moonwhisper.rsi/base.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Pistols/moonwhisper.rsi/bolt-open.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Pistols/moonwhisper.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Pistols/moonwhisper.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Pistols/moonwhisper.rsi/icon.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Pistols/moonwhisper.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Pistols/moonwhisper.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Pistols/moonwhisper.rsi/mag-0.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Pistols/moonwhisper.rsi/meta.json
Labels: No C#, FTL, YML, Sprites, Audio, S: Untriaged, size/M

#167 Исправления ошибок после апштрима
  Content.Client/_NF/LateJoin/ListItems/StationListItem.xaml
  Content.Client/_NF/LateJoin/Windows/PickerWindow.xaml
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/ConfigPresets/Corvax/corvax.toml
  Resources/Locale/ru-RU/_NF/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/mind/role-types.ftl
  Resources/Locale/ru-RU/preferences/loadouts.ftl
  Resources/Locale/ru-RU/sandbox/sandbox-manager.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/world/debris/asteroids.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/world/debris/wrecks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/types.ftl
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/bodkin.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/bureaucracy.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/eyes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/implanter.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/tools.yml
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nfsdtech.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nfsdtech.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nfsdtech.rsi/off.png
Labels: FTL, C#, UI, YML, Map-POI, Sprites, S: Untriaged, size/M

#166 [ADD] Наборы одежды в шкафчики командования
  Resources/Locale/ru-RU/corvax/_nf/prototypes/entities/objects/storage/garment_bag.ftl
  Resources/Maps/Corvax/POI/nfsd.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Misc/garment_bags.yml
  Resources/Prototypes/Corvax/Entities/Objects/Storage/garment_bag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/heads.yml
  Resources/Textures/Corvax/Objects/Storage/garmen_bag.rsi/icon-open.png
  Resources/Textures/Corvax/Objects/Storage/garmen_bag.rsi/icon.png
  Resources/Textures/Corvax/Objects/Storage/garmen_bag.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Storage/garmen_bag.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Storage/garmen_bag.rsi/meta.json
Labels: No C#, FTL, YML, Sprites, S: Untriaged, size/M

#170 Колизей фикс
  Resources/Maps/Corvax/Shuttles/Coliseum/bite.yml
  Resources/Maps/Corvax/Shuttles/Coliseum/crater.yml
  Resources/Maps/Corvax/Shuttles/Coliseum/faceless.yml
  Resources/Maps/Corvax/Shuttles/Coliseum/fly.yml
  Resources/Maps/Corvax/Shuttles/Coliseum/kerefo.yml
  Resources/Maps/Corvax/Shuttles/Coliseum/wild.yml
  Resources/Maps/Corvax/Shuttles/Coliseum/wound.yml
Labels: No C#, YML, size/S, S: Untriaged

#168 Пачка ftl и крошка фикса
  Content.Shared/CCVar/CCVars.Interactions.cs
  Resources/Locale/ru-RU/_Goobstation/emotes.ftl
  Resources/Locale/ru-RU/_Impstation/chat/emotes.ftl
  Resources/Locale/ru-RU/_NF/bounty-contracts/bounty-contracts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-HELMET-vox.png
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/icon-flash.png
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/light-overlay.png
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon-siren.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
Labels: FTL, C#, YML, Sprites, S: Untriaged

#171 ФастФикс респрайта
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-light-vox.png
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-light.png
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-vox.png
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head.png
  Resources/Textures/Corvax/Clothing/Head/Hardsuits/paramedhelm.rsi/meta.json
Labels: No C#, Sprites, size/S
