Repository Forge-Station/Frontier, pull requests merged in 2025-02, with the labels that each got.

#120 Паллет на шаттл
  Resources/Maps/Corvax/Shuttles/Expedition/charon.yml
Labels: No C#, YML

#123 CCvar game map
  Content.Shared/CCVar/CCVars.Game.cs
Labels: C#, size/XS

#125 delete some Resomi sprites
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/equipped-HELMET-resomi.png
  Resources/Textures/Clothing/Head/Hats/safarihat.rsi/equipped-HELMET-resomi.png
  Resources/Textures/Clothing/Head/Hats/warden.rsi/equipped-HELMET-resomi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/aro-equipped-resomi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/asex-equipped-resomi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/bi-equipped-resomi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/inter-equipped-resomi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/les-equipped-resomi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/lgbt-equipped-resomi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/non-equipped-resomi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/pan-equipped-resomi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/trans-equipped-resomi.png
Labels: No C#, Sprites, size/XS, S: Untriaged

#127 Переводы
  Resources/Locale/ru-RU/_NF/bluespace-events/events.ftl
  Resources/Locale/ru-RU/_NF/events/gas-leak.ftl
  Resources/Locale/ru-RU/_NF/events/ion-strom.ftl
  Resources/Locale/ru-RU/_NF/events/power-grid-check.ftl
  Resources/Locale/ru-RU/_NF/events/solar-flare.ftl
  Resources/Locale/ru-RU/_NF/events/vent-clog.ftl
  Resources/Locale/ru-RU/_NF/events/vent-crittes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/back/base_clothing_backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/drinks/condiments_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/containers/condiments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/flatpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/power/light.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/specific/chemical-containers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/rifles/gestio.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/atm.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/computers_tabletop.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/multiple/towel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/spectral_locator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/wands.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/flare_gun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/smes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomaly_injectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/cores.ftl
Labels: No C#, FTL, size/M

#128 Фикс госпиталя и газовых шаттлов
  Resources/Maps/Corvax/POI/medical.yml
  Resources/Maps/Corvax/Shuttles/Expedition/ambition.yml
  Resources/Maps/Corvax/Shuttles/Expedition/gasbender.yml
  Resources/Prototypes/_NF/PointsOfInterest/medical.yml
Labels: No C#, YML, size/XL, S: Untriaged

#129 Фиксы и дальнобойщик
  Resources/Maps/Corvax/Shuttles/Expedition/ambition.yml
  Resources/Maps/Corvax/Shuttles/Expedition/courserx.yml
  Resources/Maps/Corvax/Shuttles/Expedition/gasbender.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/the_defector.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/courserx.yml
Labels: No C#, YML, size/L

#133 Revert "Фиксы и дальнобойщик"
  Resources/Maps/Corvax/Shuttles/Expedition/ambition.yml
  Resources/Maps/Corvax/Shuttles/Expedition/courserx.yml
  Resources/Maps/Corvax/Shuttles/Expedition/gasbender.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/the_defector.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/courserx.yml
Labels: No C#, YML, S: Untriaged, size/L

#137 Вектор 45 и 22
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Boxes/vector.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Magazines/SMGs/VectorMags.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/SMGs/vector.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: No C#, YML, size/S

#134 Небольшой "патч"
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Resources/Locale/ru-RU/_DV/roundend/no-eorg-popup.ftl
  Resources/Locale/ru-RU/_NF/adventure/adventure.ftl
  Resources/Locale/ru-RU/_NF/atmos/gas-sale-console-component.ftl
  Resources/Locale/ru-RU/_NF/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/_NF/datasets/names/scrap.ftl
  Resources/Locale/ru-RU/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/_NF/procedural/expeditions.ftl
  Resources/Locale/ru-RU/_NF/procedural/salvage-faction.ftl
  Resources/Locale/ru-RU/_NF/reagents/labels.ftl
  Resources/Locale/ru-RU/_NF/tips.ftl
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Locale/ru-RU/administration/ui/player-panel.ftl
  Resources/Locale/ru-RU/atmos/gas-pipe-sensor.ftl
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Locale/ru-RU/interaction/interaction-system.ftl
  Resources/Locale/ru-RU/procedural/expeditions.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_DV/entitites/Objects/Misc/fire_extinguisher.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_DV/entitites/structures/storage/crates/barrel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/crates/emergency_pod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/items/weapon_cases_expedition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/mobs/npcs/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/flatpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/specific/atmospherics/deposits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/tools/blueprints/blueprints_expedition_loot.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/tools/blueprints/blueprints_medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/lighting/strobe_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/piping/atmospherics/unary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/storage/crates/barrel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/wallmounts/shelfs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/scrap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/holopad.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/gas_pipe_sensor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/miners.ftl
  Resources/Prototypes/Procedural/salvage_factions.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
Labels: FTL, C#, UI, YML, S: Untriaged, size/M

#136 Scar-12
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/base.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/bolt-open.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/icon.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/mag-0.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/meta.json
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/wielded-inhand-left.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Rifles/scar12.rsi/wielded-inhand-right.png
Labels: No C#, YML, Sprites, size/M

#135 Reapply "Фиксы и дальнобойщик (#129)"
  Resources/Maps/Corvax/Shuttles/Expedition/ambition.yml
  Resources/Maps/Corvax/Shuttles/Expedition/courserx.yml
  Resources/Maps/Corvax/Shuttles/Expedition/gasbender.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/the_defector.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/courserx.yml
Labels: No C#, YML, size/L

#138 Минипатч
  Resources/Locale/ru-RU/_NF/bank/ledger.ftl
  Resources/Locale/ru-RU/_NF/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/crates/salvage.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Magazines/SMGs/VectorMags.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/SMGs/vector.yml
Labels: No C#, FTL, YML, S: Untriaged

#141 Шахта
  Content.Shared/Shipyard/SharedShipyardSystem.cs
  Resources/Locale/ru-RU/corvax/lobby/lobby.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers_shipyard.ftl
  Resources/Maps/Corvax/POI/MiningBase.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/Corvax/PointsOflnterest/MiningBase.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/Asstedia.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/Fang.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/Pot.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/barge.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/bulker.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/chisel.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/hauler.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/kestrel.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/prospector.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/rosebudmki.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/theScavenger.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/vagabond.yml
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_mining.png
Labels: FTL, C#, YML, Sprites, size/XL, S: Untriaged

#144 Грубая правка спавна
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
Labels: No C#, YML, S: Untriaged

#147 Update ambition.yml
  Resources/Maps/Corvax/Shuttles/Expedition/ambition.yml
Labels: No C#, YML, S: Untriaged

#149 Перефиксы
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml
  Resources/Locale/ru-RU/_EE/guidebook/food.ftl
  Resources/Locale/ru-RU/_NF/atmos/gas-deposit.ftl
  Resources/Locale/ru-RU/_NF/guidebook/guides.ftl
  Resources/Locale/ru-RU/_NF/guidebook/medical.ftl
  Resources/Locale/ru-RU/_NF/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/_NF/shipyard/shipyard-console-component.ftl
  Resources/Locale/ru-RU/_NF/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/items/weapon_cases_expedition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/spoiled.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/monkeycube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/world/debris/wrecks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_flasks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/plate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/memorial.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Magazines/SMGs/VectorMags.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/schoolgirl.yml
  Resources/ServerInfo/_NF/Guidebook/Medical/Doc.xml
  Resources/ServerInfo/_NF/Guidebook/Medical/MedicalRecipes.xml
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirts/elegantmaid.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirts/elegantmaid.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirts/elegantmaid.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirts/elegantmaid.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirts/elegantmaid.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirts/elegantmaid.rsi/meta.json
Labels: No C#, FTL, UI, YML, Sprites, Docs, S: Untriaged, size/M
