Repository Forge-Station/Frontier, pull requests merged in 2025-07, with the labels that each got.

#256 Mersen fix
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Content.Shared/Movement/Systems/MovementSpeedModifierSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: C#, YML, size/XS

#263 БС харвестер фикс
  Content.Client/_Forge/BluespaceHarvester/BluespaceHarvesterCategory.cs
  Content.Client/_Forge/BluespaceHarvester/BluespaceHarvesterMenu.cs
  Content.Server/_Forge/BluespaceHarvester/BluespaceHarvesterBundleSystem.cs
  Content.Server/_Forge/BluespaceHarvester/BluespaceHarvesterComponent.cs
  Content.Server/_Forge/BluespaceHarvester/BluespaceHarvesterRiftComponent.cs
  Content.Server/_Forge/BluespaceHarvester/BluespaceHarvesterRiftSystem.cs
  Content.Server/_Forge/BluespaceHarvester/BluespaceHarvesterSystem.cs
  Content.Shared/_Forge/BluespaceHarvester/BluespaceHarvesterUi.cs
  Resources/Prototypes/_Forge/Entities/Mobs/NPCs/mob_hostile_bluespaceharvesterrift.yml
  Resources/Prototypes/_Forge/Entities/Structures/Specific/bluespace_harvester_rift.yml
Labels: C#, YML, S: Untriaged

#264 Change point BS Harvester
  Content.Server/_Forge/BluespaceHarvester/BluespaceHarvesterSystem.cs
  Resources/Prototypes/_Forge/Catalog/Fills/Crates/bluespace_harvester.yml
  Resources/Prototypes/_Forge/Entities/Markers/Spawners/Random/bluespace_harvester.yml
Labels: C#, YML, S: Untriaged

#267 Изменение цен на рнд шаттлы
  Resources/Prototypes/_Forge/Shipyard/Science/lyrae.yml
  Resources/Prototypes/_Forge/Shipyard/Science/pulsar.yml
  Resources/Prototypes/_Forge/Shipyard/Science/sparrow.yml
  Resources/Prototypes/_Forge/Shipyard/Science/spectre.yml
Labels: No C#, YML, S: Untriaged

#268 Фикс
  Content.Server/_Forge/BluespaceHarvester/BluespaceHarvesterComponent.cs
  Content.Server/_Forge/BluespaceHarvester/BluespaceHarvesterSystem.cs
  Resources/Prototypes/_Forge/Catalog/Fills/Crates/bluespace_harvester.yml
  Resources/Prototypes/_Forge/Entities/Markers/Spawners/Random/bluespace_harvester.yml
  Resources/Prototypes/_Forge/Entities/Mobs/NPCs/mob_hostile_bluespaceharvesterrift.yml
  Resources/Prototypes/_Forge/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Forge/Entities/Structures/Specific/bluespace_harvester_rift.yml
  Resources/Prototypes/_Forge/Research/techtree.yml
Labels: C#, YML, size/M

#253 Известие из 91-го сектора?... (1 часть)
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers_shipyard_mothership.ftl
  Resources/Maps/Forge/Shuttles/Scrap/Bentsen.yml
  Resources/Maps/Forge/Shuttles/Scrap/Fram.yml
  Resources/Maps/Forge/Shuttles/Scrap/Hendrick.yml
  Resources/Maps/Forge/Shuttles/Scrap/Jeannette.yml
  Resources/Maps/Forge/Shuttles/Scrap/Johan.yml
  Resources/Maps/Forge/Shuttles/Scrap/Nansen.yml
  Resources/Maps/Forge/Shuttles/Scrap/NansenCanon.yml
  Resources/Maps/Forge/Shuttles/Scrap/Serge.yml
  Resources/Maps/Forge/Shuttles/Scrap/Viking.yml
  Resources/Prototypes/_Forge/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/Bentsen.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/Fram.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/Hendrick.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/Jeannette.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/Johan.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/Nansen.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/Serge.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/Viking.yml
  Resources/Textures/Forge/Structures/Machines/computers.rsi/Nansenshipyard.png
  Resources/Textures/Forge/Structures/Machines/computers.rsi/computer.png
  Resources/Textures/Forge/Structures/Machines/computers.rsi/generic_keyboard.png
  Resources/Textures/Forge/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/Forge/Structures/Machines/computers.rsi/telesci_key.png
Labels: No C#, FTL, C#, YML, Sprites, size/XL, S: Untriaged
