Repository Forge-Station/Frontier, pull requests merged in 2025-08, with the labels that each got.

#191 Пин
  Content.Client/_Forge/ExtendedPinpointer/ExtendedPinpointerSystem.cs
  Content.Server/_Forge/ExtendedPinpointer/ExtendedPinpointerSystem.cs
  Content.Shared/_Forge/ExtendedPinpointer/ExtendedPinpointerComponent.cs
  Content.Shared/_Forge/ExtendedPinpointer/ExtendedPinpointerVisuals.cs
  Content.Shared/_Forge/ExtendedPinpointer/SharedExtendedPinpointerSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/devices/pinpointer.ftl
  Resources/Prototypes/Forge/Entities/Objects/Devices/Pinpointer/pinpointer.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pinpointer.yml
Labels: FTL, C#, YML, size/M

#276 Пушечки
  Resources/Prototypes/_Forge/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_Forge/tags.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ammunition/Crates/shipw_crates.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ballistic/105mm.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ballistic/120mm.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ballistic/140mm.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ballistic/53mm.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ballistic/80mm.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Missile/cerber.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Missile/colosus.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Missile/lancer.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Missile/nighthunter.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/charon_launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/tarnyx_launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/launcher.yml
  Resources/Textures/Forge/Objects/Weapons/Melee/tl_e_sword-inhands.rsi/inhand-left-blade.png
  Resources/Textures/Forge/Objects/Weapons/Melee/tl_e_sword-inhands.rsi/inhand-left.png
  Resources/Textures/Forge/Objects/Weapons/Melee/tl_e_sword-inhands.rsi/inhand-right-blade.png
  Resources/Textures/Forge/Objects/Weapons/Melee/tl_e_sword-inhands.rsi/inhand-right.png
  Resources/Textures/Forge/Objects/Weapons/Melee/tl_e_sword-inhands.rsi/meta.json
  Resources/Textures/Forge/Objects/Weapons/Melee/tl_e_sword.rsi/e_sword.png
  Resources/Textures/Forge/Objects/Weapons/Melee/tl_e_sword.rsi/e_sword_blade.png
  Resources/Textures/Forge/Objects/Weapons/Melee/tl_e_sword.rsi/icon.png
  Resources/Textures/Forge/Objects/Weapons/Melee/tl_e_sword.rsi/meta.json
Labels: No C#, YML, Sprites, S: Untriaged, size/M

#275 Известие из 91-го сектора (2/4)
  Resources/Locale/ru-RU/corvax/lobby/lobby.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/banners.ftl
  Resources/Maps/Forge/Outpost/corvaxFrontier.yml
  Resources/Maps/Forge/POI/Bastille.yml
  Resources/Maps/Forge/Shuttles/Scrap/bootlegger.yml
  Resources/Maps/Forge/Shuttles/Service/musiclover.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Prototypes/_Forge/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Forge/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/_Forge/PointsOflnterest/Bastille.yml
  Resources/Prototypes/_Forge/PointsOflnterest/Colisei.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/bootlegger.yml
  Resources/Prototypes/_Forge/Shipyard/Scrap/diesel.yml
  Resources/Prototypes/_Forge/Shipyard/Service/musiclover.yml
  Resources/Textures/Forge/Clothing/Uniforms/Jumpsuits/scraptech.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Forge/Clothing/Uniforms/Jumpsuits/scraptech.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Forge/Clothing/Uniforms/Jumpsuits/scraptech.rsi/icon.png
  Resources/Textures/Forge/Clothing/Uniforms/Jumpsuits/scraptech.rsi/inhand-left.png
  Resources/Textures/Forge/Clothing/Uniforms/Jumpsuits/scraptech.rsi/inhand-right.png
  Resources/Textures/Forge/Clothing/Uniforms/Jumpsuits/scraptech.rsi/meta.json
  Resources/Textures/Forge/Structures/Decoration/banner.rsi/banner_scraptech.png
  Resources/Textures/Forge/Structures/Decoration/banner.rsi/meta.json
Labels: No C#, FTL, YML, Map-POI, Sprites, size/XL, S: Untriaged

#284 Fix's map
  Resources/Maps/Forge/Shuttles/Expedition/Stalker.yml
  Resources/Maps/Forge/Shuttles/Expedition/dreadnought.yml
  Resources/Maps/Forge/Shuttles/Mercenary/dreadnought.yml
  Resources/Maps/Forge/Shuttles/Salvage/adder.yml
  Resources/Maps/Forge/Shuttles/Salvage/azimuth.yml
  Resources/Maps/Forge/Shuttles/Salvage/barge.yml
  Resources/Maps/Forge/Shuttles/Salvage/bodkin.yml
  Resources/Maps/Forge/Shuttles/Salvage/bug.yml
  Resources/Maps/Forge/Shuttles/Salvage/cascade.yml
  Resources/Maps/Forge/Shuttles/Salvage/nort.yml
  Resources/Maps/Forge/Shuttles/Salvage/scorpion.yml
  Resources/Maps/Forge/Shuttles/Salvage/zenith.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/dagger.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/hammer.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/sword.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/templar.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/trest.yml
  Resources/Prototypes/_Forge/Shipyard/Nfsd/warrior.yml
  Resources/Prototypes/_Forge/Shipyard/Salvage/azimuth.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
Labels: No C#, YML, S: Untriaged, size/M

#286 Медицинский джетпак в шкаф парамедиков и главного врача
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tanks/jetpacks.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Forge/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/_Forge/Entities/Objects/Weapons/Guns/Pistols/moonwhisper.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Textures/Forge/Objects/Tanks/Jetpacks/paramed.rsi/equipped-BACKPACK.png
  Resources/Textures/Forge/Objects/Tanks/Jetpacks/paramed.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Forge/Objects/Tanks/Jetpacks/paramed.rsi/icon-on.png
  Resources/Textures/Forge/Objects/Tanks/Jetpacks/paramed.rsi/icon.png
  Resources/Textures/Forge/Objects/Tanks/Jetpacks/paramed.rsi/inhand-left.png
  Resources/Textures/Forge/Objects/Tanks/Jetpacks/paramed.rsi/inhand-right.png
  Resources/Textures/Forge/Objects/Tanks/Jetpacks/paramed.rsi/meta.json
  Resources/Textures/Forge/Objects/Tanks/Jetpacks/paramed.rsi/on-equipped-BACKPACK.png
  Resources/Textures/Forge/Objects/Tanks/Jetpacks/paramed.rsi/on-equipped-SUITSTORAGE.png
Labels: No C#, FTL, YML, Sprites, size/M

#287 Консоль управление шаттлом синдиката теперь доступна
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#, YML, size/XS, S: Untriaged

#289 Фикс отображения спрайтов медикаментов
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#, YML, size/S

#293 Фикс иконок должностей Синдиката в СБ визоре
  Resources/Prototypes/_Forge/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Forge/StatusIcon/job.yml
  Resources/Prototypes/_Forge/Syndicate/id_cart.yml
Labels: No C#, YML, size/S, S: Untriaged

#296 Спрайты, нитриловые изольки
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/_Forge/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/Forge/Clothing/Hands/Gloves/isolnitrile.rsi/equipped-HAND-resomi.png
  Resources/Textures/Forge/Clothing/Hands/Gloves/isolnitrile.rsi/equipped-HAND.png
  Resources/Textures/Forge/Clothing/Hands/Gloves/isolnitrile.rsi/icon.png
  Resources/Textures/Forge/Clothing/Hands/Gloves/isolnitrile.rsi/inhand-left.png
  Resources/Textures/Forge/Clothing/Hands/Gloves/isolnitrile.rsi/inhand-right.png
  Resources/Textures/Forge/Clothing/Hands/Gloves/isolnitrile.rsi/meta.json
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/borghypo.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/borghypo_s.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/combat_hypo.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/equipped-BELT.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/hypo.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/hypo_fill1.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/hypo_fill2.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/hypo_fill3.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/hypo_fill4.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/hypo_fill5.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/hypo_fill6.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/inhand-left.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/inhand-right.png
  Resources/Textures/Forge/Objects/Specific/Medical/hypospray.rsi/meta.json
  Resources/Textures/_Mono/Structures/Machines/mixer.rsi/meta.json
  Resources/Textures/_Mono/Structures/Machines/mixer.rsi/mixer_broken.png
  Resources/Textures/_Mono/Structures/Machines/mixer.rsi/mixer_empty.png
  Resources/Textures/_Mono/Structures/Machines/mixer.rsi/mixer_loaded.png
  Resources/Textures/_Mono/Structures/Machines/mixer.rsi/mixer_screen_broken.png
  Resources/Textures/_Mono/Structures/Machines/mixer.rsi/mixer_screens.png
  Resources/Textures/_Mono/Structures/dispensers.rsi/industrial-off.png
  Resources/Textures/_Mono/Structures/dispensers.rsi/industrial-panel.png
  Resources/Textures/_Mono/Structures/dispensers.rsi/industrial-working.png
  Resources/Textures/_Mono/Structures/dispensers.rsi/industrial.png
  Resources/Textures/_Mono/Structures/dispensers.rsi/meta.json
Labels: No C#, FTL, YML, Sprites, size/M

#302 Переводы
  Resources/Locale/ru-RU/datasets/names/ai.ftl
  Resources/Locale/ru-RU/datasets/names/autoborg.ftl
  Resources/Locale/ru-RU/datasets/names/dragon.ftl
  Resources/Locale/ru-RU/datasets/names/dragon_title.ftl
  Resources/Locale/ru-RU/datasets/names/vox.ftl
Labels: No C#, FTL, size/L
